.botao{

    background-color: rgb(86, 70, 177);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.aba{
    width: 100%;
    height: 400px;

}
#aba1{
    background-color: rgb(42, 91, 165);
}
#aba2{
    background-color: rgb(62, 119, 204);
}
#aba3{
    background-color: rgb(79, 131, 209);
}
#aba4{
    background-color: rgb(123, 165, 228);
}
#aba5{
    background-color: rgb(149, 185, 238);
}
.conteudo{
    text-align: center;
}
body {
    background-color: rgb(130, 205, 255);
}
.barra {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: rgb(94, 116, 214);
}
.desktop {
    display: none;
}
.tablet {
    display: none;
}
.mobile {
    font-size: 50px;
    color: rgb(23, 23, 126);
}

@media (min-width:800px) {
    .barra{
        background-color: rgb(201, 120, 255);
        height: 80px;
    }
    .mobile{
        display: none;
    }
    .tablet {
        font-size: 55px;
        display: inline;
        color: rgb(104, 58, 148);
    }
    .botao{
        margin-top: 0%;
        width: 19.5%;
    }
    .conteudo{
        text-align: right;
    }
}
    
@media (min-width:1228px) {
    .barra{
        background-color: rgb(69, 171, 212);
        height: 120px;
    }
    .tablet {
        display: none;
    }
    .desktop {
        font-size: 70px;
        display: inline;
        color: rgb(58, 59, 148);
    }
    .conteudo{
        text-align: left;
    }

}